.xs-navigation {
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 640px) {
    display: none;
  }
}

.sm-navigation {
  padding: 1rem;
  align-items: center;

  display: none;
  @media (min-width: 640px) {
    display: flex;
    border: 1px dotted blue;
  }
}

.xs-logo-and-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s;
}

.xs-search-and-button {
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  justify-content: space-between;
}

.search-input {
  flex: 1 1 0%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 1rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  transition: all 0.5s;
}

.searchbutton {
  background-color: blue;
  display: block;
  transition: all 1s;
  padding: 0.25rem /* 4px */;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  //transform: scale(1);
  position: relative;
}

.searchbutton-hidden {
  pointer-events: none;
  background-color: blue;
  display: none;
  transition: all 1s;
}
